@import "bootstrap";

html { height: 100% }
body { height: 100%; margin: 0; padding: 0; font-family: 'Roboto', sans-serif; }
#map { height: 100%; width: 100%; }

$locations-width: 285;
$locations-width-closed: 35;
$locations-extra-padding: 10;

#wrap {
  padding: 0;
  height: 100%;
  transition: all .4s ease 0s;

  &.with-locations {
    padding-right: $locations-width-closed + px;

    > .container {
      padding: 0;
    }

    #locations {
      display: block;
    }
  }

  &.with-location-details {
    padding-right: $locations-width + $locations-extra-padding + px;

    #locations {
      right: $locations-width - $locations-width-closed + $locations-extra-padding + px;
    }
  }

  > .container {
    padding: 63px 0 0 0;
    height: 100%;
    min-width: 100%;
  }
}

.navbar-form {
  text-align: center;
  .api-key { width: 380px; }
  .secret { width: 120px; }  
  input, button { margin: 0 5px; }
}

#locations {
  position: fixed;
  right: 0;
  top: 5px;
  z-index: 10000;
  margin-right: -$locations-width + $locations-width-closed - $locations-extra-padding + px;
  width: $locations-width + px;
  display: none;
  transition: all .4s ease 0s;

  i {
    font-size: 20px;
  }

  ul {
    list-style: none;
    padding: 5px 0;
    margin-bottom: 0px;
  }

  a {
    color: black;
    transition: color .25s ease-in-out;
    padding-right: 5px;
    display: inline-block;
    vertical-align: middle;

    &:hover {
      text-decoration: none;
      color: #428bca;
    }
  }
}
