:javascript
  $(function() {
    $carGuard = new CarGuard()

    $("form").submit(function(ev) {
      ev.preventDefault()
      var form = $(this)
      $carGuard.render(form.find(".api-key").val(), form.find(".secret").val()).done(function() {
        form.closest(".row").slideUp()        
      }).fail(function() { alert("wrong API key and/or secret!")})
    })
  })
.container
  .row
    %form(action="/map" method="GET")
      .form-group
        .col-md-8
          %input.form-control.input-lg.api-key(type="text" placeholder="API key" value="#{@api_key}")
        .col-md-2
          %input.form-control.input-lg.secret(type="password" placeholder="secret")
        .col-md-2
          %button.input-lg.btn.btn-default(type="submit") Track

#map
#locations
  %ul
  %a#show-more(href="#") Show more

%ul#locations-template.hidden
  %li.location
    %a(href="#")
      %span.fixTime
      %span
        %span.longitude
        %span.latitude
