.row
  %form(action="/" method="POST")
    .form-group
      .col-md-10
        %input.form-control.input-lg(type="text" name="api_key" placeholder="API key")
      .col-md-2
        %button.input-lg.btn.btn-default(type="submit") Track
