:javascript
  $(function() {
    var carGuard = new CarGuard()

    $("form").submit(function(ev) {
      ev.preventDefault()
      var form = $(this)
      var apiKey = form.find(".api-key").val()
      carGuard.render(apiKey, form.find(".secret").val()).done(function() {
        history.pushState({}, "", "/map/" + apiKey)
        form.closest(".navbar").fadeOut(function() { $(this).remove() })
      }).fail(function() { alert("wrong API key and/or secret!")})
    })
  })

.navbar.navbar-default.navbar-fixed-top
  .container
    .collapse.navbar-collapse
      %form.navbar-form
        .form-group
          %input.form-control.input-lg.api-key(type="text" placeholder="API key" value="#{@api_key}")
          %input.form-control.input-lg.secret(type="password" placeholder="secret")
        %button.input-lg.btn.btn-default(type="submit") Track      

.container
  #map
  #locations
    %a#show-location-details(href="#")
      %i.fa.fa-navicon
    details
    %ul
    %a#show-more(href="#")
      %i.fa.fa-history
    load history


  %ul#locations-template.hidden
    %li.location
      %a.icon(href="#")
        %i.fa.fa-location-arrow
      %span.data
        %span.fixTime
        %span
          %span.longitude
          %span.latitude
