!!!

%html
  %head
    %title Car Guard
    %link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto")
    %link(rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
    %link(rel="stylesheet" type="text/css" href="/car-guard.css")
    %script(type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyB1KCxChPZeai0CFriGB42mXUIh5jrUi_o&sensor=false")
    %script(type="text/javascript" src="//underscorejs.org/underscore-min.js")
    %script(type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js")
    %script(type="text/javascript" src="/vendor/crypto-js/aes.js")
    %script(type="text/javascript" src="/vendor/crypto-js/pbkdf2.js")
    %script(type="text/javascript" src="/vendor/parallel.js")
    %script(type="text/javascript" src="/vendor/transparency.min.js")
    %script(type="text/javascript" src="/vendor/strftime-min.js")
    %script(type="text/javascript" src="/car-guard.js")
    %script(type="text/javascript" src="/encrypted-locations.js")
  %body
    #wrap
      = yield
