:javascript
  $(function() { 
    EncryptedLocations.decryptAll(#{@locations})
      .done(function(locations) {
        new CarGuard(locations).render()
      }).fail(function() {
        alertify.error("Sorry, wrong secret!")
      })
  })

#map
#locations
  %ul
    %li.location
      %a(href="#")
        %span.fixTime
        %span
          %span.longitude
          %span.latitude
