:javascript
  $(function() { 
    EncryptedLocations.decryptAll(#{@locations.to_json})
      .done(function(locations) {
        new CarGuard(locations).render()
      }).fail(function() {
        alertify.error("Sorry, wrong secret!")
      })
  })

#map
#locations
  %ul
